# Compiled class files
*.class
*.o 

# Package files
*.jar
*.war
*.ear

# IDE-specific files
.idea/
.classpath
.project
.settings/
.vscode
build/

# Maven artifacts
target/

# OS-specific files
.DS_Store
Thumbs.db

