# Compiled class files
*.class
*.o 
bin/
build/

# Package files
*.jar
*.war
*.ear

# IDE-specific files
.vscode/
.idea/
.classpath
.project
.settings/
.history/

# Maven artifacts
target/

# OS-specific files
.DS_Store
Thumbs.db

